
@font-face {
	font-family: "Stardew_Valley_Titulo";
	src: local(Stardew_Valley),url(../fonts/Stardew_Valley.otf);
}

@font-face {
	font-family: "Stardew_Valley";
	src: local(Stardew_Valley),url(../fonts/Stardew_Valley.ttf);

}

body,html {
    background-image: url("../imgs/fundo.png");
    background-repeat: no-repeat;
    display: table;
   width: 100%;
   height: 100%;
    background-size: cover;
    font-family: "Stardew_Valley";
    color: rgb(236, 167, 17); 
    text-shadow: 3px 3px black;
    padding:0;
    margin:0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
a { 
    font-family: "Stardew_Valley";
    color: rgb(236, 167, 17); 
    text-decoration: none;
    font-size:40px;
 }

 .input {     
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
}

.memory-game{
   display: flex;
    flex-direction: column;
}



#enviar{
   text-shadow: 3px 3px black;
   background: none;
   border: 0 none;
   font-family: "Stardew_Valley";
   color: rgb(236, 167, 17); 
   text-decoration: none;
   font-size:30px;
}

input[type="file"] {
   display: none;
}
label {
   text-shadow: 3px 3px black;
   background: none;
   border: 0 none;
   font-family: "Stardew_Valley";
   color: rgb(236, 167, 17); 
   text-decoration: none;
   font-size:30px;
}

#img-input{
   text-shadow: 3px 3px black;
   background: none;
   border: 0 none;
   font-family: "Stardew_Valley";
   color: rgb(236, 167, 17); 
   text-decoration: none;
   font-size:30px;
}

 #t1 {
    font-size:70px;
    text-align: center;
 }

 #manter{
    font-size:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 #desenv {
   font-size:80px;
   color: rgb(241, 12, 12);
   text-shadow: 3px 3px black;
}





#cartas{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}